#root {
  width: 70%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: aliceblue;
}

.title {
  background-color: #244d9e;
  padding: 2.5%;
  color: #f5f5f5;
}

.searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}

.search-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  align-items: center;
  width: 100%;
}

.dog-search {
  width: 80%;
}

.dog-display {
  display: block;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
}

.image-button {
  background-color: #244d9e;
  color: #f5f5f5;
}

.image-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 850px) {
  .search-container {
    width: 50%;
  }
}
